/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 2rem;
  background-color: #282c34;
  min-height: calc(100vh - 3rem);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  height: 30px;
  padding: 0 5px 0;
  font-size: 20px;
  background: none;
  color: whitesmoke;
  font-weight: 500;
  border: 1px dashed whitesmoke;
}

a {
  text-decoration: none;
  color: initial;
  color: lightgray;
}

.flex {
  display: flex;
}

.show_me {
  height: 20px;
  border: 2px solid red;
  color: white;
  background: darkslategrey;
  text-align: center;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
